.dark body {
  background-color: $darkmode;
}

.home-page-container {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 320px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}
.dark .home-page-container {
  background-color: $darkmode;
}
.items-to-choose {
  display: flex;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-top: 28px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    margin: 28px 0 60px 0;
    justify-content: space-around;
  }
}
.newsHP-categories {
  border-radius: 20px;
  color: $accent-color;
  border: 1px solid $accent-color;
  padding: 7px 13px;
  font-size: 12px;
  line-height: 1.33;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.newsHP-categories:focus {
  background-color: $accent-color;
  color: $extra-color;
}
button.newsHP-categories:hover {
  background-color: $accent-color;
  color: $extra-color;

  svg.categ-arrow-down {
    fill: #fff;
  }
}

///////////teblet buttons
.articles-to-choose-tablet {
  display: flex;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    gap: 14px;
  }
  @media screen and (min-width: 1280px) {
    gap: 16px;
  }
}

.article-btn {
  font-size: 12px;
  line-height: 1.14;
  padding: 8px 21px;
  border: 1px solid $accent-color;
  border-radius: 20px;
  color: $accent-color;
  display: flex;
  justify-content: center;
  height: 31px;
  cursor: pointer;

  &:hover {
    color: $extra-color;
  }

  @media screen and (min-width: 1280px) {
    padding: 8px 22.5px;
    font-size: 14px;
  }
}

.desktop-btn {
  @media screen and (max-width: 1279px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    display: inline-flex;
  }
}
.article-btn:hover {
  background-color: $accent-color;
  color: $extra-color;
  svg.others-arrow-down {
    fill: #fff;
  }
}
.categ-arrow-down,
.others-arrow-down {
  margin-left: 10px;
  fill: $accent-color;
  rotate: 0;
  transition: all 250ms ease-in-out;
}
.calendar-arrow-down {
  margin-left: 14px;
  fill: $light-color;
}
.calendar-arrow-up {
  display: none;
}

.newsHP-calendar:focus .calendar-svg {
  fill: $extra-color;
}
.calendar-svg {
  margin-right: 10px;
  fill: $accent-color;
}

/////////////виджет погоды

.weather-app {
  background-image: url(/assets/window.jpg);
  border-radius: 15px;

  @media screen and (max-width: 767px) {
    width: 288px;
    height: 470px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    height: 545px;
    width: 353px;
    float: right;
  }

  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 545px;
    float: right;
  }
}

.weather-info {
  display: flex;
  margin: 25px 30px 0px 30px;
  align-items: center;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 0;
  }
}
.degrees {
  font-family: 'Roboto';
  font-size: 50px;
  line-height: 1.16;
  padding-left: 0;
  color: $extra-color;
  @media screen and (min-width: 768px) {
    font-size: 74px;
    line-height: 1.17;
    padding-left: 10px;
  }
}
.whats-the-weather {
  font-size: 24px;
  line-height: 1.16;
  color: $extra-color;
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 1.16;
  }
}

.show-on-map {
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0.9;
  color: $extra-color;
  background: linear-gradient(
    90deg,
    rgba(164, 146, 154, 1) 8%,
    rgba(61, 103, 215, 1) 100%
  );
  box-shadow: 0 0.5em 0.5em -0.4em $extra-color;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.15;
  border-style: none;
  padding: 9px 13px 7px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 24px;
    padding: 10px 17px 7px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 26px;
  }
}

.geolocation-icon {
  margin-right: 4px;
  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }
}

.info-border {
  width: 0px;
  height: 80px;
  border: 1px solid #ffffff;
  margin-left: 15px;
  margin-right: 10px;
}

.sun-moon {
  margin: 0 auto;
  width: 148px;
  height: 141px;
}

.week-day,
.weather-date {
  font-family: 'Roboto';
  font-size: 28px;
  line-height: 1.17;
  color: $extra-color;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 44px;
    line-height: 1.16;
  }

  @media screen and (min-width: 1280px) {
    font-size: 46px;
    line-height: 1.16;
  }
}
.weather-date {
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 80px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 110px;
  }
}
.weatherApp-link {
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.18;
  padding: 8px 14px;
  color: $extra-color;
  background: rgb(164, 146, 154);
  background: linear-gradient(
    90deg,
    rgba(164, 146, 154, 1) 8%,
    rgba(61, 103, 215, 1) 100%
  );
  box-shadow: 0 0.5em 0.5em -0.4em $extra-color;
  opacity: 0.8;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.15;
  }
}
.sinoptik {
  text-align: center;
}
///////////////////////////////////////
.gallery {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 30px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    flex-direction: column;
    margin-bottom: 40px;
    width: 288px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    flex-wrap: wrap;
    width: 768px;
    gap: 30px;
    margin-bottom: 48px;
    flex-direction: row-reverse;
  }
  @media screen and (min-width: 1280px) {
    row-gap: 32px;
    column-gap: 40px;
    width: 1280px;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 60px;
  }
}

.marked-opacity {
  opacity: 0.7;
}
.card-styles {
  box-shadow: 3px 3px 20px rgb(82, 62, 69);
  border-radius: 15px;
}

.marked-read {
  text-align: center;
}

.next-btn {
  margin-left: 10px;
  border: 1px solid $accent-color;
  cursor: pointer;
  height: 28px;

  @media screen and (min-width: 1280px) {
    margin-left: 18px;
    font-size: 16px;
    font-weight: 500;
  }
}
